@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    color: white;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;

}

/*Styles for header section*/
.header-nav{
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 16px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    list-style: none;
}

li{
    font-size: 18px;
    color: #E5E7EB;
}

/*Styles for hero section*/
.hero{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 80px;
}

.hero-main{
   width: 450px;
   height: auto;
   gap: 16px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 8px;
}

.img{
    display: flex;
    width: 400px;
    height: 210px;
    background-color:gray;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button{
    background: #3882F6;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
}

/*styles for some random information section*/

.title-information{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-top: 60px;
}

.container{
    display: flex;
    justify-content: center;
    gap:52px;
    padding: 25px;
    margin-bottom: 40px;
    margin-top: 25px;
}

.info{
   max-width: 160px;
   text-align:center
}

.img-info{
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.text{
    padding-top: 10px;
    font-size: 16px;
    color: black;
}

/*Styles for quote section*/

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #E5E7EB;
}

.quote-text{
    width: 820px;
    font-size: 36px;
    color: #1F2937;
    padding-top: 70px;
    font-style: italic;
}

.quote-autor{
    width: 820px;
    text-align: right;
    font-weight: 300;
    padding-top:10px ;
    padding-bottom:70px;
    font-weight: bold;
}

/*Syles for target sign up section*/

.sign-up{
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.target{
    width: 900px;
    background-color: #3882F6;
    display: flex;gap: 32px;
    justify-content: space-around;
    border-radius: 7px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.main-target{
    display: flex;
    flex-direction: column;
}

.target-title{
    font-weight: bold;
    font-size: 18px;
}

.target-text{
    font-size: 14px;
}

.target-button{
   background: #3882F6;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border: none;
    border-radius: 5px;
    margin-top: 8px; 
    border: solid 2px white;
}

/*Styles for footer section*/
.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}



